.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1.25rem;
  border-radius: 1rem;
  padding: 0.75rem;
}

.containerLocation {
  width: 100%;
}

.containerRowLocation {
  display: grid;
  grid-template-columns: 20%  75%;
  grid-template-rows: 1;
  column-gap: 1rem;
}

.decorativeSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.circle {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primaryColorLight);
}

.circleSmall {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primaryColor);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--textColor);
}

.lines {
  width: 2px;
  height: 55%;
  border: 1px var(--primaryColor) dashed;
}

.iconContainer {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #D1F4E0;
}

.icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--primaryColor);
}