.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 0.75rem;
}

.title {
  font-size: 1.25rem;
  color: var(--textColor);
  font-weight: 600;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.containerPaquetes {
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 0.15fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;

  gap: 1rem;
}

.containerDimensiones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 16px;
}

.containersWithOptions {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  grid-column-gap: 8px;
}

.containerInfoWeight {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.containerInfoCalc {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 8px 1rem;
  background-color: #F1F1F1;
}

.textGrid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  color: var(--textColor);
  padding: 4px;
}

.textGridValue {
  color: #919191;
}

.textTitleContenido {
  font-weight: 500;
  color: var(--textColor);
}

.containerPaqueteContenido {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
}

.containerButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.containerHeader {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 1% 60%;
  column-gap: 1.5rem;
}

.containerRow2 {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 0.5fr);
  column-gap: 1rem;
}